/* ---------Customizer--------- */
.control-section-dairy-farming h3.accordion-section-title {
  font-size: 15px !important;
  color: #fff !important;
  background: #5b8c51 !important;
  padding: 12px 10px;
}
a.button.button-secondary.alignright {
  color: #000;
  box-shadow: none;
  font-weight: bold;
  padding: 0px 10px;
  background: #fff;
  height: 30px;
  font-size: 15px !important;
  border-radius: 0;
  border: none;
  margin-top: -3px;
}
a.button.button-secondary.alignright:hover {
  background: #000;
  color: #fff;
  border:none;
}