/*About theme*/

.wrapper-info {
    margin-top: 20px;
}
.col-left{
	width: 65%;
	float: left;
}
.col-right {
    width: 30%;
    float: right;
    padding: 5px;
    margin: 0px 20px;
    background: #eee;
    border: solid 1px #ddd;
}
.wrapper-info h2 {
    color: #212529;
    font-size: 35px;
    margin: 15px 0;
    font-weight: bold;
}
span.version {
    font-size: 15px;
    color: #333;
}
.logo {
    margin: 5px 0;
}
.col-left p {
    font-size: 20px;
    color: #333;
}

/*Tab Button*/
.tab{
    margin-top: 20px;
}
td.update-link, .info-link a, .col-left-pro a, .pro-links a {
    padding: 3px 27px;
    font-weight: bold;
    font-size: 15px;
    background: #FA7070;
    border: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    line-height: 2.15384615;
    border-radius: 3px;
    cursor: pointer;
}
.tab button{
    font-weight: bold;
    font-size: 15px;
    border: none;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    line-height: 2.15384615;
    border-radius: 3px;
    cursor: pointer;
    background: #FA7070;
    color: #fff;
    padding: 3px 12px !important; 
}
button.tablinks.active, a.buy-pro {
    background: #0000FF;
    color: #fff;
}
a.buy-pro:hover{
    background: #FA7070;
}
button.tablinks.active {
    color: #fff;
    background: #000;
}
button.tablinks{
    background: #ececec;
    color: #000;
}
.info-link a:hover, .col-left-pro a:hover, td.update-link:hover{
    background: #0000FF !important;
}
button.tablinks:focus {
    outline: none;
}
td.update-link {
    padding: 0px !important;
    display: block;
    text-align: center;
}
td.update-link a {
    color: #fff;    
    text-decoration: none;
    padding: 10px;
    display: block;
}
hr.h3hr {
    width: 10%;
    border-top: 2px solid #FA7070;
    margin: 0;
}
.tab-sec h3 {
    color: #212529;
    font-size: 25px;
    margin: 35px 0 10px;
}
.tab-sec p {
    font-size: 16px;
    color: #333;
}
.col-right-inner h3{
    margin-top: 0;
}
.col-right-inner {
    width: 60%;
    float: right;
    padding: 0 20px;
}
.col-left-inner {
    width: 34%;
    float: left;
}
.col-left-inner,.col-right-inner{
    margin: 20px 0px 0px 0px;
}
.col-right-inner img {
    width: 100%;
    box-shadow: 0 0 15px 1px #bbb;
    margin: 20px 0px 20px 0px;
}
.col-left-inner h4,
.col-3 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    margin-top: 0;
}
.col-left-inner p {
    font-size: 14px;
    margin: 8px 0;
}
.info-link {
    margin: 20px 0;
}
.col-right .info-link,
.logo{
    text-align: center;
}
.table-image {
    padding: 20px;
}
.col-left-pro {
    width: 100%;
    float: left;
}
.col-right-pro {
    width: 30%;
    float: right;
    padding: 15px;
}
.pro-links {
    margin: 3em 0;
}
.pro-links a {
    margin-right: 8px;
    padding: 10px 15px;    
}
.tabcontent {
    display: none;
}
.open {
    display: block ;
}
.tab-sec,
.featurebox {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.col-left-pro p{
    margin-top: 25px;
}
.innerbox {
    margin: 30px 0;
}
/*Table CSS*/
.tablebox td {
    padding: 15px 10px;
    font-size: 18px;
    color: #000;
    border: solid 1px #ddd;
}
td.table-img {
    text-align: center;
}
tr.odd {
    background: #eee;
}
.tablebox th {
    padding: 15px;
    background: #eee;
    color: #000;
    font-size: 20px;
    border: solid 1px #ddd;
}
table.tablebox {
    border: solid 1px #ddd;
    padding: 2px;
    width: 100%;
}
.tablebox span.dashicons.dashicons-saved, .tablebox span.dashicons.dashicons-no{
    font-size: 25px;
    line-height: inherit;
    font-weight: 600;
    width: auto;
    height: auto;
}
.tablebox span.dashicons.dashicons-saved{
    color: #24a562;
}
.tablebox span.dashicons.dashicons-no{
    color: #db1601;
}